/*contenedor principal del componente*/
.servicios{
    width: 100%;
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 5rem;
    gap: 3rem;
    background-image: url('/fondos/fondo4.webp');
    background-position: center;
    background-size: cover;
}

/*contenedor de titulo y texto*/
.servicios .titulo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 3.5rem;
}

/*titulo*/
.servicios .titulo h2{
    font-family: var(--font-title);
    font-size: clamp(2.5rem, 1.5495rem + 1.9802vw, 4rem);
    font-weight: 500;
    color: var(--color-blanco);
}

/*texto*/
.servicios .titulo p{
    font-family: var(--font-text);
    font-size: clamp(1.1rem, 0.8465rem + 0.5281vw, 1.5rem);
    font-weight: 500;
    text-align: center;
    color: var(--color-blanco);
}

/*contenedor de tarjetas y flechas*/
.servicios .slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/*contendor de tarjetas*/
.contenedor-tarjetas{
    max-width: 1250px;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    border-radius: 20px;
    scrollbar-width: none;
    overflow-y: hidden;
    touch-action: none;
    gap: 100px;
}

/*tarjetas con servicios*/
.contenedor-tarjetas .tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 350px;
    height: 500px;
    padding: 2rem;
    padding-top: 3.5rem;
    border-radius: 45px;
}

/*numero de servicio*/
.contenedor-tarjetas section h4{
    font-family: var(--font-title);
    font-weight: 600;
    font-size: clamp(4rem, 2.7327rem + 2.6403vw, 6rem);
    color: var(--color-amarillo);
}

/*nombre del servicio*/
.contenedor-tarjetas  section h3{
    font-family: var(--font-title);
    font-size: clamp(1.7rem, 0.8762rem + 1.7162vw, 3rem);
    font-weight: 550;
    color: var(--color-blanco);
}

/*llamada a la acción*/
.contenedor-tarjetas a{
    max-width: fit-content;
    text-decoration: none;
    font-family: var(--font-text);
    font-size: clamp(1rem, 0.8099rem + 0.396vw, 1.3rem);
    color: var(--color-negro);
    font-weight: 550;
    background: var(--color-amarillo);
    padding: 0.9rem 1.8rem;
    border-radius: 35px;
    border:  3px solid var(--color-amarillo);
}

/*contenedor de flechas para desplazar tarjetas*/
.contenedor-flechas{
    max-width: 1260px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*flechas*/
.contenedor-flechas img{
    cursor: pointer;
    width: 60px;
    height: auto;
}


/*codigo para dispositivos mobiles*/
@media (max-width: 1440px){

    .servicios{
        padding: 3rem 1.5rem;
    }

    /*contendor de tarjetas*/
    .contenedor-tarjetas{
        max-width: 1075px;
        gap: 50px;
    }

    /*tarjetas con servicios*/
    .contenedor-tarjetas .tarjetas{
        width: 325px;
        height: 425px;
        padding: 1.5rem;
        padding-top: 3rem;
    }

    /*contenedor de flechas para desplazar tarjetas*/
    .contenedor-flechas{
        max-width: 1080px;
    }
}

@media (max-width: 1150px){

    .servicios{
        padding: 3rem 1rem;
    }

    .servicios .titulo p br{
        display: none;
    }

    .servicios .titulo p{
        max-width: 680px;
    }

    /*contendor de tarjetas*/
    .contenedor-tarjetas{
        max-width: 675px;
        gap: 25px;
    }

    /*tarjetas con servicios*/
    .contenedor-tarjetas .tarjetas{
        width: 325px;
        height: 420px;
        padding: 1.5rem;
        padding-top: 3rem;
    }

    /*contenedor de flechas para desplazar tarjetas*/
    .contenedor-flechas{
        max-width: 680px;
    }
}

@media (max-width: 768px){


    .servicios .titulo h2{
        font-size: clamp(2.1rem, 1.5103rem + 2.0619vw, 2.5rem);
    }

    .servicios .titulo p{
        max-width: 390px;
        width: 100%;
    }

    /*contendor de tarjetas*/
    .contenedor-tarjetas{
        max-width: 350px;
        gap: 350px;
    }

    /*tarjetas con servicios*/
    .contenedor-tarjetas .tarjetas{
        width: 350px;
        height: 450px;
        padding: 2rem;
        padding-top: 3rem;
    }

    /*nombre del servicio*/
    .contenedor-tarjetas section h3{
        font-size: 2.5rem;
    }

    /*llamada a la acción*/
    .contenedor-tarjetas a{
        font-size: 1.1rem;
        padding: 0.6rem 1.1rem;
    }

    /*contenedor de flechas para desplazar tarjetas*/
    .contenedor-flechas{
        max-width: 350px;
    }

    /*flechas*/
    .contenedor-flechas img{
        width: 55px;
        height: auto;
    }
}