:root {

    /* variables para fuentes */
    --font-title: "Roboto Condensed", serif;
    --font-text: "Montserrat", serif;

    /* variables para colores */
    --color-negro: #242424;
    --color-blanco: #F1F1F1;
    --color-gris: #696969;
    --color-azul: #083f87;
    --color-amarillo: #E9CB37;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: url('/fondos/fondo1.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


@media (max-width: 768px){

    body{
        background-image: url('/fondos/fondo1-rsp.webp');
    }
}
